# Environnements virtuels
.venv/
env/
venv/

# Python cache & artefacts
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Données locales
batchtrainingbooster/notebooks/artifacts/*


# Caches de tests et d’outils
.mypy_cache/
.pytest_cache/
.cache/
.ruff_cache/
.DS_Store

# Logs & artefacts internes
artifacts/*
catboost_info/*
batchtrainingbooster/utils/*
batchtrainingbooster/src/batchtrainingbooster/logger/logs/*

